/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */
html, body {
  font-family: "MozTT", sans-serif;
  font-size: 10px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: white;
}

#finder {
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0px;
  top: 0px;
}

#photo {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

#meta {
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

#semi-result {
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 65%;
  width: 100%;
}

#result {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

#place {
  pointer-events: none;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

#distance {
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

#distance:after {
  content: "k";
}

#latitude:before {
  content: "latitude:";
}

#longitude:before {
  content: "longitude:";
}

#heading:before {
  content: "heading:";
}

#target-lonlat {
  text-align: right;
  font-size: 8px;
}

#target-latitude {
  display: inline-block;
}

#target-longitude {
  display: inline-block;
}

#message {
  text-align: center;
  color: red;
}

#take-button {
  position: absolute;
  right: 2px;
  top: 50%;
  width: 34px;
  height: 45px;
  background: url(images/hud_button_underlay_focus.png) no-repeat -5px 0px;
}

#camera-image {
  position: relative;
  top: 8px;
  left: 2px;
  width: 30px;
  height: 30px;
  background: url(images/camera.png) no-repeat;
}